@keyframes intro-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes intro-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    animation: intro-left 1s;
}
.leftDiv h1 {
    margin: 0 0 50px 0;
    font-size: 50px ;
}

.leftDiv form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formInputDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftDiv form input {
    border-radius: 10px;
    padding: 10px 20px;
    width: 400px;
    height: 30px;
    outline: none;
    border: 2px solid var(--text-color);
    transition: all .3s ease;
}

.leftDiv form p {
    font-size: 20px;
    margin: 0;
}
.leftDiv form input:hover {
    background-color: var(--color-hover);
}
.leftDiv form input:focus {
    transform: scale(1.05);
}

.leftDiv form button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
    height: 50px;
    position: relative;
}

.leftDiv form button div {
    position: absolute;
    height: fit-content;
    top: 10px;
    width: 30px;
    transition: all .3s ease;
    transform: scale(0);
    left: calc(50% - 15px);
}

.leftDiv form .loading div {
    transform: scale(1);
}

.leftDiv form .loading p {
    transform: scale(0);
}

.leftDiv form button p {
    height: 30px;
    position: absolute;
    top: 13px;
    margin: 0;
    width: 100px;
    text-align: center;
    left: calc(50% - 50px);
    transition: all .3s ease;
}

.leftDiv form button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 30px var(--secondary-color);
    transform: scale(1.05);
}

.main img {
    animation: intro-right 1s;
    border-radius: 50px;
}

@media only screen and (max-width: 800px) {
    .main img {
        display: none;
    }

    .leftDiv {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        overflow: hidden;
        gap: 0;
        padding: 20px;
    }
    .leftDiv h1 {
        margin: 30px 0 0 0;
        font-size: 40px;
        width: 100%;
        text-align: center;
        height: 60px;
    }

    .leftDiv form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        height: 100%;
        width: 100%;
    }

    .leftDiv form input {
        border-radius: 10px;
        padding: 10px 20px;
        width: calc(100% - 44px);
        height: 30px;
        outline: none;
        border: 2px solid black;
        transition: all .3s ease;
    }

    .leftDiv form button:active {
        transform: scale(.6);
    }

    .leftDiv form button:hover {
        box-shadow: none;
    }
}