@keyframes nav-intro {
    from {
        transform: translate(200%, -200%) scale(0);
    }
    to {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes profil-intro {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes text-intro {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes intro-bg {
    0% {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
}

@keyframes outro-bg {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

.loading {
    animation: nav-intro 0.6s ease;
    height: 60px;
    width: 60px;
    z-index: 1000;
    position: fixed;
    top: 15px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: white;
}

.nav {
    animation: nav-intro 0.6s ease;
    width: fit-content;
    max-width: 50%;
    height: 60px;
    position: fixed;
    z-index: 10;
    top: 15px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    overflow: hidden;
    border-radius: 50px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid var(--text-color);

}

.connection {
    animation: nav-intro 0.6s ease;
    position: fixed;
    top: 15px;
    right: 25px;
    height: 40px;
    background-color: var(--text-color) !important;
    color: white !important;
    z-index: 10;
}

.resume {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.resume img {
    animation: profil-intro 0.8s ease;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 50px;
    transition: all .3s ease;
}

.nav .resume p, .nav > a {
    animation: text-intro 0.8s ease;
    margin: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease;
}

.nav:hover:not(.showInfo) {
    background-color: var(--color-hover);
    transform: scale(1.1);
}

.nav:hover:not(.showInfo) .resume img {
    transform: scale(0);
}

.nav:hover:not(.showInfo) .resume p {
    transform: translateX(25px);
}

.nav:active:not(.showInfo) {
    transform: scale(.7);
}


.showInfo {
    border-radius: 30px;
    max-height: calc(100% - 90px);
    overflow-y: auto;
    height: fit-content;
    cursor: auto;
    flex-direction: column;
    padding: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    z-index: 10;
}

.showInfo .menuContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.navBackground {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.navBackgroundVisible {
    display: block;
    animation: intro-bg 0.5s;
}

.navBackgroundClosing {
    display: block;
    animation: outro-bg 0.5s;
}

.showInfo .resume {
    flex-direction: row-reverse;
    height: fit-content;
    justify-content: start;
}

.showInfo .resume p {
    font-size: 30px;
}

.showInfo .resume img {
    background-color: transparent;
}



.closeBtn, .logoutBtn {
    align-self: flex-end;
    width: calc(100% - 40px) !important;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;

}

.closeBtn {
    margin-top: auto;
}

.showInfo .userData div input.modif {
    background-color: var(--color-hover);
}

@media only screen and (max-width: 800px) {

    .nav:not(.showInfo) {
        width: 60px;
    }

    .nav:not(.showInfo) .resume p {
        display: none;

    }

    .nav:not(.showInfo) .resume img {
        margin-right: 0;
    }

    .showInfo .resume img {
        width: 70px;
        height: 70px;
    }

    .showInfo .resume p {
        font-size: 25px;
    }

    .showInfo {
        max-width: 100%;
        width: calc(100% - 110px);
    }

    .showInfo .menuContent {
        width: 100%;
    }

    .closeBtn, .logoutBtn {
        font-size: 20px;
    }

    .showInfo .menuContent {
        padding: 0;
    }
}