@keyframes intro-zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes intro-zoom-bottom {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(100%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes intro-zoom-top {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes outro-zoom {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes intro-bg {
    0% {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
}

@keyframes outro-bg {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

.popup {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.background {
    animation: intro-bg 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.popupContent {
    animation: intro-zoom 0.5s;
    z-index: 200;
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    max-width: 50%;
    max-height: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
}

.popupContent h2 {
    animation: intro-zoom-top 1s;
    font-size: 40px;
    margin: 0;
}

.popupContent p {
    animation: intro-zoom-top 1s;
    font-size: 20px;
    margin: 0;
}

.popupContent button {
    animation: intro-zoom-bottom 1s;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
}

.popupContent button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px black;
}

.popupContentClosing {
    animation: outro-zoom 0.5s;
}

.bgClosing {
    animation: outro-bg 0.5s;
}

@media only screen and (max-width: 800px) {
    @keyframes from-bottom {
        from {
            transform: translateY(100%) scale(0);
        } to {
            transform: translateY(0) scale(1);
        }
    }

    @keyframes to-bottom {
        from {
            transform: translateY(0) scale(1);
        } to {
            transform: translateY(100%) scale(0);
        }
    }
    .popup {
        align-items: end;
    }

    .popupContent {
        animation: from-bottom .7s ease;
        z-index: 200;
        position: relative;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        max-height: 50%;
        height: 50%;
        background-color: white;
        border-radius: 20px 20px 0 0;
        padding: 20px 20px 90px 20px;
        overflow-y: auto;
    }

    .popupContent button {
        animation: none;
        padding: 10px 20px;
        height: 50px;
        width: calc(100% - 40px);
        margin-top: 0;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .popupContent button:hover {
        transform: none;
        box-shadow: none;
    }

    .popupContent button:active {
        transform: scale(0.5);
    }

    .popupContent h2 {
        animation: none;
    }

    .popupContent p {
        animation: none;
    }

    .popupContentClosing {
        animation: to-bottom 0.7s ease;
    }


}