@keyframes intro-topleft {
    from {
        opacity: 0;
        transform: translate(-100%, -100%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes intro-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes intro-smoothzoom  {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.heroDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.heroDiv img {
    animation: intro-right 1s;
    border-radius: 50px;
}

.heroLeft {
    animation: intro-smoothzoom 1s;
}

.heroLeft h1 {
    font-size: 50px;
}

.heroLeft p {
    font-size: 20px;
}

.startBtn {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    color: white;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
}

.loginBtn {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    color: #000000;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
}

.buttonsDiv {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    transition: all .3s ease;
}

.buttonsDiv a {
    text-decoration: none;
    text-align: center;
    user-select: none;
}

.buttonsDiv a:hover {
    flex: 3;
    box-shadow: 0 0 50px black;
}

.appname {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    animation: intro-topleft 1s;
}
