:root {
    --primary-color: #BAF2BB;
    --secondary-color: #BAF2D8;
    --background-color: #edf6f2;
    --blue: #BAD7F2;
    --red: #F2BAC9;
    --yellow: #F2E2BA;
    --text-color: black;
    --color-hover: #dddddd;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

html {
    min-width: 100%;
    min-height: 100%;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
