@keyframes intro-topleft {
    from {
        transform: translateY( -200%) scale(0);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes intro-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes intro-smoothzoom  {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes intro-smoothdezoom  {
    from {
        filter: blur(50px );
        transform: scale(2);
    }
    to {
        filter: blur(0);
        transform: scale(1);
    }
}

.heroDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: calc(100vh);
}

.heroDiv img {
    animation: intro-smoothdezoom ease 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroRight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    transition: all .3s ease;
}
.scrolled .heroRight {
    width: 40%;
    height: 50%;
    left: 5%;
    top: calc(50% - 100px);
    border-radius: 30px;
}


.heroLeft {
    animation: intro-smoothzoom ease 1s;
    width: calc(55% - 100px);
    background-color: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 50px;
    position: fixed;
    bottom: 50px;
    right: calc(45% - 50px);
    transition: all .5s ease;
}

.scrolled .heroLeft {
    position: fixed;
    bottom: calc(100% - 80px);
    border-radius: 20px;
    right: 10px;
    padding: 10px;
}

.heroLeft h1 {
    margin-top: 0;
    font-size: 50px;
}

.scrolled .heroLeft h1 {
    display: none;
}

.heroLeft p {
    font-size: 20px;
}

.scrolled .heroLeft p {
    display: none;
}

.startBtn {
    padding: 0 20px;
    font-size: 20px;
    background-color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    flex: 2;
    height: 50px;
    color: white;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
}

.loginBtn {
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    height: 50px;
    color: #000000;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
}

.buttonsDiv {
    margin-top: 50px;
    display: flex;
    gap: 5%;
    transition: all .3s ease;
}

.scrolled .buttonsDiv {
    margin-top: 0;
}

.buttonsDiv a {
    text-decoration: none;
    text-align: center;
    user-select: none;
}

.buttonsDiv a:hover {
    flex: 4;
    box-shadow: 0 0 50px black;
}

.appname {
    position: fixed;
    top: 20px;
    left: calc(50% - 125px);
    width: 250px;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    animation: intro-topleft 1s;
    transition: all .5s ease;
}

.scrolled .appname {
    font-size: 35px;
    top: 10px;
    left: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.28);
}

.section {
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px 50px 50px 50%;
    margin-bottom: 10%;
}

.scrolled .section {
    margin-top: -200px;
}

@media only screen and (max-width: 800px) {

    @keyframes bg-intro {
        from {
            filter: blur(50px);
            transform: scale(1.5);
        }
        to {
            filter: blur(0);
            transform: scale(1);
        }
    }

    @keyframes from-top {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes from-bottom {
        from {
            transform: translateY(100%) scale(.5);
        }
        to {
            transform: translateY(0) scale(1);
        }
    }

    .appname {
        width: 250px;
        text-align: center;
        left: calc(50% - 125px);
        font-size: 35px;
        animation: from-top 1s ease;
    }

    .scrolled .appname {
        transform: translateY(-200%);
    }

    .heroDiv {
        margin-top: 75px;
        padding: 0;
        flex-direction: column;
        height: calc(100vh - 115px);
    }

    .heroLeft h1 {
        font-size: 30px;
        text-align: center;
        margin: 0;

    }

    .heroLeft {
        width: calc(100% - 40px);
        z-index: 50;
        padding: 20px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 40px;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.18);
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 30px 30px 0 0;
        transition: all .3s ease;
        animation: from-bottom 1s ease;
    }

    .scrolled .heroLeft {
        bottom: calc(100% - 150px);
    }


    .heroRight {
        transition: all .3s ease;
    }

    .heroDiv img {
        object-fit: cover;
        object-position: right;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        animation: bg-intro 1s;
    }

    .buttonsDiv {
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

    .buttonsDiv a {
        min-height: 50px;
    }

    .buttonsDiv a:hover {
        flex: 2;
        box-shadow: 0 0 0 black;
    }

    .buttonsDiv a:active {
        transform: scale(.7);
    }

    .heroLeft p {
        font-size: 22px;
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .section {

        margin-bottom: 15%;
    }

}