@keyframes forward {
    from {
        transform: translateX(0);
    }
     to {
         transform: translateX(-200%);
     }
}

@keyframes appname-intro {
    0% {
        transform: translateY(calc(50vh - 100px)) scale(0);
    }
    50% {
        transform: translateY(calc(50vh - 100px)) scale(1.2);
    }
    50% {
        transform: translateY(calc(50vh - 100px)) scale(1.2);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes bg-intro {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.forward {
    animation: forward 1s ease;
    transform: translateX(-200%);
}
.heroDiv {
    animation: bg-intro 1.3s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh);
}

.heroDiv img {
    width: 40%;
    transition: all .3s ease;
}

.heroLeft {
    width: 40%;
    transition: all .5s ease;
}

.buttonsDiv {
    margin-top: 50px;
    display: flex;
    gap: 5%;
    transition: all .3s ease;
}

.buttonsDiv a {
    padding: 0 20px;
    font-size: 25px;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 0 0  black;
    text-decoration: none;
    text-align: center;
    user-select: none;
    font-weight: 500;
    color: white;
    height: 50px;
}

.startBtn {
    flex: 2;
}

.loginBtn {
    flex: 1;
}

.buttonsDiv a:hover {
    flex: 4;
    transform: scale(1.1);
}

.appname {
    animation: appname-intro 1.3s ease;
    position: fixed;
    top: 20px;
    left: calc(50% - 125px);
    width: 250px;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    transition: all .5s ease;
}

.scrolled .appname {
    font-size: 35px;
    top: 10px;
    left: 10px;
    text-align: start;
}


@media only screen and (max-width: 800px) {

    .heroDiv {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .appname {
        font-size: 40px;
    }

    .scrolled .appname {
        left: calc(50% - 125px);
        transform: translate(0, -200%);
        text-align: center;
    }

    .heroDiv img {
        height: auto;
        width: 70%;
        margin-top: 100px;
    }

    .heroLeft {
        width: calc(100% - 40px);
        padding: 20px;
        text-align: center;
    }

    .heroLeft h1 {
        font-size: 50px;
    }

    .heroLeft p {
        font-size: 25px;
    }

    .buttonsDiv a {
        flex: 1;
    }

    .buttonsDiv {
        flex-direction: column;
        height: 150px;
    }

    .buttonsDiv a:hover {
        flex: 1;
        box-shadow: 0 0 0 black;
    }

    .buttonsDiv a:active {
        transform: scale(0.5);
    }


}