

.settingsElem {
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
    width: 70%;
    min-width: fit-content;
}

.settingsElem p {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

.settingsElem input {
    flex: 2;
    outline: none;
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 22px;

}

.settingsElem input.modif {
    border: 2px solid var(--text-color);
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .settingsElem p {
        font-size: 18px;
    }

    .settingsElem {
        width: 100%;
        min-width: 100%;
        gap: 10px;
    }

    .settingsElem input {
        font-size: 18px;
        width: 100px;
    }
}