@keyframes intro-data {
    from {
        transform: translateX(100%);
    } to {
          transform: translateX(0);
      }
}

.dataSide {
    animation: intro-data .5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dataSide .adminSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dataSide .crudSection {
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    flex-wrap: wrap;
}