@keyframes intro-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.main {
    animation: intro-right 1s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    padding-top: 5%;
}

.leftDiv {
    display: flex;
    max-width: 500px;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.leftDiv h1 {
    font-size: 50px;
    margin: 0 0 30px 0;
}

.leftDiv p {
    font-size: 20px;
    margin: 0 0 30px 0;

}

.leftDiv form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(100% - 40px);
    padding: 20px;

}


.formInputDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftDiv form input {
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 200px;
    width: calc(100% - 44px);
    height: 30px;
    outline: none;
    border: 2px solid var(--text-color);
    transition: all .3s ease;
}

.leftDiv form p {
    font-size: 20px;
    margin: 0;
}

.leftDiv form input:focus {
    transform: scale(1.05);
}

.leftDiv form button {
    width: 100%;
    height: 50px;
    position: relative;
}

.leftDiv form button div {
    position: absolute;
    height: fit-content;
    top: 10px;
    width: 30px;
    transition: all .3s ease;
    transform: scale(0);
    left: calc(50% - 15px);
}

.leftDiv form .loading div {
    transform: scale(1);
}

.leftDiv form .loading p {
    transform: scale(0);
}

.leftDiv form button p {
    height: 30px;
    position: absolute;
    top: 13px;
    margin: 0;
    width: 200px;
    text-align: center;
    left: calc(50% - 100px);
    transition: all .3s ease;
}

.main img {
    border-radius: 50px;
    width: 35%;
}

@media only screen and (max-width: 800px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }

    .main img {
        width: 70%;
        height: fit-content;
    }

    .leftDiv {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        overflow: hidden;
        gap: 0;
        padding: 20px;
    }

    .leftDiv h1 {
        margin: 30px 0 0 0;
        font-size: 40px;
        width: 100%;
        text-align: center;
        height: 60px;
    }

    .leftDiv form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        height: 100%;
        width: 100%;
        max-height: 70%;
        padding: 20px 0;
    }

    .leftDiv form input {
        border-radius: 10px;
        padding: 10px 20px;
        width: calc(100% - 44px);
        min-width: calc(100% - 44px);
        height: 30px;
        outline: none;
        border: 2px solid black;
        transition: all .3s ease;
    }
}